<div style="width:100%;height:100%">

    <p-toast></p-toast>
    
    <div  #listViewDiv >
 
    <div >
        
        <p-table [columns]="ProductListCols"  [value]="ProductList"  styleClass="p-datatable-gridlines" 
        selectionMode="multiple" [(selection)]="selectedProducts" >
            <ng-template pTemplate="header" let-columns>
                <tr >
                    <th *ngFor="let col of columns" class="textOverflow">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">

                    <td  *ngFor="let col of columns"  pEditableColumn>
                        <p-cellEditor  *ngIf="col.field!='id'"  >
                            <ng-template pTemplate="input" >
                                <input  *ngIf=" col.field=='name'" pInputText [(ngModel)]="rowData[col.field]" (keydown)="validateName($event, rowData[col.field])">
                                <input  *ngIf=" col.field=='state'" pInputText [(ngModel)]="rowData[col.field]" (keydown)="validateName($event, rowData[col.field])">
                                <input  *ngIf=" col.field=='item'" pInputText [(ngModel)]="rowData[col.field]" (keydown)="validateItem($event, rowData[col.field])">

                                <input *ngIf=" col.field=='zip'" type="number" pInputText [(ngModel)]="rowData[col.field]" (keydown)="isValidZipCode($event, rowData[col.field])">
                                <input *ngIf="col.field=='amount'" type="number" pInputText [(ngModel)]="rowData[col.field]" >
                                <input  *ngIf="col.field=='qty'" type="number" pInputText [(ngModel)]="rowData[col.field]" (keydown)="restrictDecimal($event, rowData[col.field])">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData[col.field]}}
                            </ng-template>
                        </p-cellEditor>
                        <span  *ngIf="col.field=='id'"  > {{rowData[col.field]}}</span>

                    </td>
            
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No Records Found
                     </td>
                </tr>
            </ng-template>
        </p-table>
            
        </div>
    </div>
    
  
  </div>

  <app-input-data #inputDlg [ProductList]="ProductList" (notifyNewItemAdded)="newProductAdded($event)"></app-input-data>
  
  
  