<div style="width:100%;height:100%">

    <div style="margin-top: 50px;">
        <h2>
            Product List
        </h2>
    </div>


    <div style="margin-top: 50px;">
            
        <div class="p-grid buttonStyle rightplace" >
            <button pButton type="button" class="p-button-success" icon="pi pi-plus" pTooltip="save"   (click)="save()" label="save"></button>
        </div>

        <div class="p-grid buttonStyle">

            <button pButton type="button" class="p-button-info" icon="pi pi-plus" pTooltip="Add"   (click)="addRow()" label="Add"></button> &nbsp;
            <button pButton type="button" class="p-button-danger" icon="pi pi-trash" pTooltip="Delete"  (click)="deleteRow()"label="Delete" ></button>
        
        </div>

        <div>
            <app-list-view #listView ></app-list-view>                   

        </div>

    </div>



</div>
