<p-dialog id="InputDialog" [(visible)]="display" appendTo="body"  (closable)="false" modal="true" [contentStyle]="{'overflow':'visible'}"  [style]="{minWidth: '400px'}" [blockScroll]="true" >

    <p-header style="padding:0px;margin: 0px;">
              Product specification      
      </p-header>
  
      <div class="p-grid" >
        <div class="p-col-5">
          <label>ID</label>
        </div>
        <div class="p-col-7" >
          <input type="text" name="id" id="id" [(ngModel)]="inputdataParams.id" style="float:right;width: 200px;" readonly><br>
        </div>
      </div>

      <div class="p-grid" >
        <div class="p-col-5">
          <label>Name</label>
        </div>
        <div class="p-col-7" >
          <input type="text" name="name" id="name" [(ngModel)]="inputdataParams.name" style="float:right;width: 200px;" (keydown)="Common.validateName($event, inputdataParams.name)"><br>
        </div>
      </div>
  
      <div class="p-grid" >
        <div class="p-col-5">
          <label>STATE</label>
        </div>
        <div class="p-col-7" >
          <input type="text" name="state" id="state" [(ngModel)]="inputdataParams.state" style="float:right;width: 200px;" (keydown)="validateName($event, inputdataParams.state)"  ><br>
        </div>
      </div>

      <div class="p-grid" >
        <div class="p-col-5">
          <label>Zip</label>
        </div>
        <div class="p-col-7" >
          <input type="number" name="zip" id="zip" [(ngModel)]="inputdataParams.zip"   style="float:right;width: 200px;" (keydown)="isValidZipCode($event, inputdataParams.zip)" ><br>
        </div>
      </div>

      <div class="p-grid" >
        <div class="p-col-5">
          <label>AMOUNT</label>
        </div>
        <div class="p-col-7" >
          <input type="number" name="amount" id="amount" [(ngModel)]="inputdataParams.amount" style="float:right;width: 200px;" (keydown)="validateName($event, inputdataParams.amount)" ><br>
        </div>
      </div>

      <div class="p-grid" >
        <div class="p-col-5">
          <label>QTY</label>
        </div>
        <div class="p-col-7" >
          <input type="number" name="qty" id="qty" [(ngModel)]="inputdataParams.qty" style="float:right;width: 200px;" (keydown)="restrictDecimal($event, inputdataParams.qty)"><br>
        </div>
      </div>

      <div class="p-grid" >
        <div class="p-col-5">
          <label>ITEM</label>
        </div>
        <div class="p-col-7" >
          <input type="text" name="item" id="item" [(ngModel)]="inputdataParams.item" style="float:right;width: 200px;"><br>
        </div>
      </div>
        
        <p-footer>
          <input type="submit" value="Add" style="float: right;" (click)="onClickAddItem()"><br><br>
        </p-footer>
    </p-dialog>
  
  